{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1><a href="/">A ching</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-7">
                <p>
                    <b>The I Ching has long been a source of inspiration, comfort, guidance, and comiseration for seekers. But come on! Let's be honest here. It hasn't been updated in over 2600 years! How relevant can it be?</b>
                </p>
                <p><b>I'll tell you who <i>is</i> relevant: ABBA. Scoff if you will, but beneath the glitz
                and glamor and breezy smiles lies a seething malestrom of commentary on the human
                condition. So if you are aching for truth (see what I did there?) I invite you to ask your question of the A Ching!</b></p>

                <div id="question-form">
                    <form action="/" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>

                <img src="static/images/abba_jumpers_white.jpg" style="height: 200px; float: left" />
            </div>
            <div class="col-md-4-offset-1" style="background-color: #F8F7F7">
                <p>The I Ching, also known as the Classic of Changes or Book of Changes in English, is an ancient divination text and the oldest of the Chinese classics. Possessing a formidable history of more than 2600 years of commentary and interpretation, the I Ching is an influential text read throughout the world, providing inspiration to the worlds of religion, psychoanalysis, business, literature, and art.</p>

                <p>The I Ching uses a type of divination called cleromancy, which produces apparently random numbers. Four numbers between 6 and 9 are turned into a hexagram, which can then be looked up in the I Ching book, arranged in an order known as the King Wen sequence. The interpretation of the readings found in the I Ching is a matter of centuries of debate, and many commentators have used the book symbolically, often to provide guidance for moral decision making as informed by Taoism and Confucianism. The hexagrams themselves have often acquired cosmological significance and paralleled with many other traditional names for the processes of change such as yin and yang and Wu Xing.</p>
                <a href="https://en.wikipedia.org/wiki/I_Ching">--Wikipedia</a>
            </div>
        </div>
    </div>
{% endblock %}





