{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1><a href="/">A ching</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-4">
                <h4>{{question}}</h4>
                <div class="verse">
                        <p>{{ verse|linebreaks }}</p>
                </div>
            </div>
            <div class="col-md-7-offset-1">
                <img src="static/images/answer.jpg" style="height: 300px; float: right" />
            </div>

        </div>
    </div>
{% endblock %}





